@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


.attribution {
    font-size: 11px;
    text-align: center;
    align-self: flex-end;
    position: absolute;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: relative;
}

.card {
    width: 300px;
    height: 450px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 0.1rem gray;
}

.card img {
    width: 270Px;
    border-radius: 10px;
}

.card h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
    color: hsl(218, 44%, 22%);
}

.card p {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 0px 10px;
    color: hsl(220, 15%, 55%);
}